@use 'css-reset';


body {

}

main {
    display: grid;
    grid-template-columns: auto;
    border: 1px solid blue;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid green;
}

section {
    border: 1px solid orange;
}

aside {
    border: 1px solid black;
    background-color: black;
    color: white;
}

article {
    border: 1px solid red;
}

@media(min-width: 50rem) {
    main {
        grid-template-columns: auto auto auto;
    }

    header {
        grid-column: 1/4;
    }

    section {
        grid-column: 1/4;
    }

    aside {
        grid-column: 3/4;
    }

    article {
        grid-column: 1/3;
    }
}