@use 'css-reset';

@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter-VariableFont_slnt\,wght.ttf');
    font-weight: 400 700 800;
    font-display: swap;
}

$primary-orange: hsl(35, 77%, 62%);
$primary-red: hsl(5, 85%, 63%);
$neutral-white: hsl(36, 100%, 99%);
$neutral-gray-blue: hsl(233, 8%, 79%);
$neutral-dark-gray-blue: hsl(236, 13%, 42%);
$neutral-dark-blue: hsl(240, 100%, 5%);
$font-size: 0.9375rem;
$fw-400: 400;
$fw-700: 700;
$fw-800: 800;
$font-family: 'Inter';

/* TODO:
   fix picture element, add breakpoints
   adjust thumbnail sizes
   fix body background color, maybe cream?
*/

body {
    font-family: $font-family;
    font-weight: $fw-400;
    font-size: $font-size;
    padding-block: 2rem;
    padding-inline: 1rem;
}

main {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header {
    display: grid;
    grid-template-columns: auto auto;
}

section {
    display: grid;
    grid-template-columns: auto;
}

.thumbnail {
    max-width: 40%;
}

aside {
    background-color: $neutral-dark-blue;
    color: $neutral-white;
    padding-inline: 1.5rem;
}

.div_aside {
    border-bottom: 0.02rem solid $neutral-dark-gray-blue;
    padding-block: 1rem;
}

.news-header {
    color: $primary-orange;
}

article {
}

h2 {
    font-size: 2.5rem;
    font-weight: $fw-800;
    line-height: 2.5rem;
    padding-block: 1rem;
}

h3 {
    font-size: 2rem;
    padding-block: 1rem;
}

h4 {
    font-size: 1.2rem;
    padding-block: 0.5rem;
}

p {
    color: $neutral-gray-blue;
    padding-bottom: 1rem;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

  button {
    background-color: $primary-red;
    border: none;
    color: $neutral-white;
    font-weight: $fw-700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 0.8rem 2rem;
    margin-top: 0.5rem;
  }

@media(min-width: 50rem) {
    main {
        grid-template-columns: auto auto auto;
    }

    header {
        grid-column: 1/4;
    }

    section {
        grid-template-columns: auto auto auto;
        grid-column: 1/4;
    }

    aside {
        grid-column: 3/4;
    }

    article {
        grid-column: 1/3;
    }
}