@use 'css-reset';


body {

}

main {
    border: 1px solid blue;
}

header {
    border: 1px solid green;
}

section {
    border: 1px solid orange;
}

aside {
    border: 1px solid black;
}

article {
    border: 1px solid red;
}